/*
!/*.md
!/.gitignore
!/.gitattributes
!/.editorconfig
!/.github/
!/.github/workflows/
!/.github/workflows/*.yml
!/historico/
!/historico/**
!/scripts/
scripts/**/__pycache__/
scripts/**/*.pyc
!/xpz-*/
!/xpz-*/**
